/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  margin: 10px auto 0;
}

/* Контейнер галереї */
.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* Картка */
.gallery-item {
  margin-top: 20px;
  background-color: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.02);
}

/* Зображення */
.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
  padding: 12px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: 600;
  color: #333;
}

.value {
  font-size: 16px;
  color: #555;
  margin-top: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none;
}

/* ---------Loader---------- */

.dual-orbit-spinner {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 30px auto;
}

.spinner {
  position: absolute;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.outer {
  width: 40px;
  height: 40px;
  border-top-color: #0057b7;
  border-right-color: #0057b7;
  animation: spin-cw 1.5s linear infinite;
}

.inner {
  width: 25px;
  height: 25px;
  top: 7.5px;
  left: 7.5px;
  border-top-color: #ffd700;
  border-right-color: #ffd700;
  animation: spin-ccw 1s linear infinite;
}

@keyframes spin-cw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-ccw {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}